
button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 140px;
  background-color: #0a5466;
}

.gid a {
  color: #C86FF5;
  text-shadow: 2px 5px 5px #df6565;
  font-size: 20px;
}

.gid {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh; /* На всю высоту экрана */
  width: 100px;  /* Ширина панели */
  background-image: url("C:/MyWeb/testSite/images/city.jpg");
  color: rgb(211, 27, 211);
  
}
.gid li {
  margin-bottom: 13Px;
}
.logo {
  position: fixed;
  left: 10px;
  top: 0;
  color:#df6565;
}
.marquee {
  white-space: inherit;
  overflow: auto;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(20%);
  }

  to {
    transform: translateX(-20%);
  }
}



img {
  display: block;
  width: 800px;
  margin: 0 auto;

}

head {
  background-color: azure;
}
html {
  text-align: center;
  background-color: #fff;
  background-size: cover;
  background-image: url('C:/MyWeb/testSite/images/53.jpg');
  /* Растягивает на весь экран */
  background-position: center;
  /* Центрирует изображение */
  background-repeat: no-repeat;
  /* Запрещает повторение */
  background-attachment: fixed;
  /* Фиксирует фон при прокрутке */
  margin: 0;
  height: 140vh;

}

body {
  width: 1280px;
  margin: auto;
  padding: 0 60px 40px 40px;
  border: 5px seagreen;
  background-size: cover;
  /* Растягивает на весь экран */
  background-position: center;
  /* Центрирует изображение */
  background-repeat: no-repeat;
  /* Запрещает повторение */
  background-attachment: fixed;
  /* Фиксирует фон при прокрутке */
  margin: 1;
  height: 100vh;


}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #C86FF5;
  ;
  text-shadow: 3px 3px 2px rgb(12, 12, 12);
  /* Первое значение пикселей задаёт горизонтальное смещение. Второе значение пикселей задаёт вертикальное смещение. Третье значение пикселей задаёт радиус размытия тени */
}

